<div class="headerContainer h-10 w-100 d-flex flex-row justify-content-between">
    <div class="texts pt-2 w-50 d-flex flex-row justify-content-around">
        <p>Información</p>
        <p routerLink="/home">Home</p>
    </div>
    <img src="../../../../assets/images/image0.png" alt="Logo">
    <div class="texts pt-2 w-50 d-flex flex-row justify-content-around">
        <p>Colaboradores</p>
        <p>Contacto</p>
        <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
    </div>
</div>