.bg-green-light {
    background-color: green; /* Verde claro */
}

.bg-orange-light {
    background-color: red; /* Naranja claro */
}

.info {
    background-image: url("../../../assets/img/background.jpeg");
    color: white;
}

table tr td, table tr th{
    color: white;
    background-color: transparent !important;
}