.bg-green-light {
    background-color: #9bdbaa;
    color: black;
}

.bg-orange-light {
    background-color: #fdce76;
    color: black;
}

.info {
    background-image: url("../../../assets/img/background.jpeg");
    color: white;
}

table tr td, table tr th{
    color: white;
    background-color: transparent !important;
}