@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* @import "~bootstrap-icons/font/bootstrap-icons.css"; */
@import 'ngx-toastr/toastr';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
